:root {
  --blanco: #f6f4ed;
  --negro: #000000;
  --gris: #999999;
  --gris_Claro: #e4e4e4;
  --amarillo: #ffc300;
  --amarillo_Claro: #ffedb2;
  --amarillo_Oscuro: #eab300;
  --rojo_Claro: #ffa099;
  --bg: #1e2345;
  --e2: #d60087;
}

/* Selector por id */
#imagenPrincipal {
  width: 20%;
  padding: 2rem;
}

/* Detalles */
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,6,30,1) 25%, rgba(91,6,30,1) 45%, rgba(89,27,44,1) 69%, rgba(44,53,67,1) 86%, rgba(44,53,67,1) 95%);
}

/* Titulos */
h1 {
  margin: 0;
  font-size: 6.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: var(--blanco);
  width: 190px;
  margin: 0 auto;
  font-size: 2em;
  box-shadow: 0 0 0 1px #fff, 0 0 2px 2px var(--rojo_Claro), inset 0 0 0 1px #fff, inset 0 0 0 4px #fff
}

h3 {
  font-family: 'Bellota', cursive;
  text-align: center;
  box-shadow: 0 0 0 2px #fff, 0 0 15px 5px var(--rojo_Claro), inset 0 0 0 2px #fff, inset 0 0 0 15px #fff
}

/* */
.name {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  background-image: linear-gradient(45deg, var(--gris), var(--gris_Claro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameBox {
  padding: 4rem;
  display: grid;
  place-items: center;
}

/* */
box {
  background: linear-gradient(100deg, var(--gris)25%, var(--gris_Claro)50%, var(--gris)75%);
  background-repeat: repeat;
  padding: 2rem;
  margin: 5rem;
}

li p:first-child {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: var(--amarillo);
  font-size: large;
  font-weight: bold;
  margin-bottom: -0.5em;
}

tr {
  font-family: 'Quicksand', sans-serif;
  color: var(--amarillo_Claro);
  font-size: large;
  font-weight: bold;
  margin-bottom: -0.5em;
}

table tr:first-child  {
  font-family: 'Quicksand', sans-serif;
  color: var(--amarillo_Oscuro);
  font-size: large;
  font-weight: bold;
  margin-bottom: -0.5em;
}

p {
  color: var(--blanco);
  font-size: medium;
}

table {
  border-radius: 15px 15px 1px 1px;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 30px;
  padding: 12px;
  border-color: var(--blanco);
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 1px #fff, 0 0 80px 2px var(--rojo_Claro), inset 0 0 0 1px #fff, inset 0 0 0 4px #fff
}

table p {
  color: var(--blanco);
}
